{
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/prop-types": "off",
    "semi": "error",
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "space-before-blocks": "error",
    "no-multiple-empty-lines": "error",
    "indent": [
      "error",
      2
    ],
    "space-before-function-paren": "error",
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "quote-props": [
      "error",
      "as-needed"
    ]
  }
}
